---
title: Pricing
heading: Tailored Event Plans for Your Success
<!-- description: Discover the ideal Eventception plan for your needs. From our free Starter plan for small projects to the scalable Standard plan, and customizable Enterprise solutions, we have you covered. Find the perfect fit and elevate your event-driven application with Eventception. -->
pricing_table:
  - name: Starter
    color: "#6d849a"
    features:
      - text: Free (up to 100K API calls/month)
        highlight: true
      - text: Ideal for startups and small projects
        highlight: false
      - text: Basic features included
        highlight: false
      - text: Access to community support
        highlight: false
      - text: Sign up for free
        highlight: false
    call_to_action:
      link: /contact
      text: Book a call with us
  - name: Standard
    color: "#49749e"
    features:
      - text: $0.01 per event (10M events/month)
        highlight: true
      - text: Great for growing businesses
        highlight: false
      - text: 10M events per month at $0.01 each
        highlight: false
      - text: Monthly usage reports
        highlight: false
      - text: Customizable API analytics
        highlight: false
    call_to_action:
      link: /contact
      text: Book a call with us
  - name: Enterprise
    color: "#0c64a7"
    features:
      - text: Contact Us
        highlight: true
      - text: Tailored solutions for large enterprises
        highlight: false
      - text: Custom pricing based on your needs
        highlight: false
      - text: Dedicated account manager
        highlight: false
      - text: Advanced analytics and reporting
        highlight: false
    call_to_action:
      link: /contact
      text: Book a call with us
faq:
  - question: What types of payment do you accept?
    answer: Credit cards including MasterCard, Visa or American Express.
  - question: Can I change my plan at a later time?
    answer: Yes, you can upgrade and downgrade your plan at anytime.
  - question: Do you offer pricing for nonprofit organizations?
    answer: Yes, send us a message and we'll set you up on our nonprofit pricing.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">john@business.com</a>.
---

<div class="plans">
  {% for plan in page.pricing_table %}
  <ul class="plan">
    <li style="background: {{ plan.color }}">
      <h3>{{ plan.name }}</h3>
    </li>
    {% for feature in plan.features %}
    <li {% if feature.highlight %} class="highlighted" {% endif %}>
      {{ feature.text }}
    </li>
    {% endfor %} {% if plan.call_to_action %}
    <li class="pricing-cta">
      <div class="button">
        <a
          style="background: {{ plan.color }}"
          href="{{ plan.call_to_action.link }}"
          >{{ plan.call_to_action.text }} &rarr;</a
        >
      </div>
    </li>
    {% endif %}
  </ul>
  {% endfor %}
</div>

<!-- {% if page.faq %}
<h2>Pricing FAQ</h2>
<dl class="faq">
  {% for item in page.faq %}
  <div>
    <dt>{{ item.question }}</dt>
    <dd>{{ item.answer }}</dd>
  </div>
  {% endfor %}
</dl>
{% endif %} -->
