.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
	padding-top: 50px;

	p {
		color: #fff;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
	
	.demo-video{
		width: 780px !important;
		height: 450px !important;
	}
}

@media (min-width:998px) {
	
	.demo-video{
		width: 954px !important;
		height: 564px !important;
	}
}

@media #{$mid-point}{
	.modal-content{
		padding: 20px 30px !important;
	}
	.demo-video{
		width: 596px;
		height: 346px;
	}
}

@media (max-width:619px) {
	
	.demo-video{
		width: 405px !important;
    	height: 264px !important;
	}
}

.demo-video{
	padding-bottom: 20px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    text-align: center;
	z-index: 1000;
}


.close {
    color: #aaa;
    float: right;
	padding: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}
.close-container{
	display: flex;
	justify-content: end;
	padding-bottom: 10px;
}

// play button style
.play-button-container {
    position: relative;
    text-align: center;
}

.play-button-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px; /* Adjust the size of the play button overlay */
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button-overlay::after {
    content: '\25B6'; /* Unicode character for play button */
    font-size: 36px;
    color: #fff;
}

.section{
	.section-title{
		padding: 15px 0px;
	}
	ul{
		li{
			font-size: 18px;
			color: #5b5b5b;
			padding: 4px 0;
		}
	}
	p{
		color:#5b5b5b
	}
	.section-description{
		font-size: 1.2rem;
	}
	@media (min-width:998px) {
		.demo-video-section{
			height: 580px !important;
		}
	}
	@media (max-width:998px) {
		.demo-video-section{	
			height: 460px ;
		}	
	}
	@media (min-width:445px) {
		.demo-video-section{
			height: 340px;
		}	
	}
	@media (max-width:445px) {
		.demo-video-section{
			height: 280px !important;
		}	
	}
	.section-ctas{
		display: flex;
		gap:10px;
		>a{
			color: white;
			padding: 20px 10px;
			background-color: #80906efa;
			border-radius: 12px;
			gap:10px;
			width: 25%;
			display: flex;
			// align-items: center;
			.section-cta-title{
				font-size: 22px;
			}
			.section-cta-icon{
				width: 40px;
				height: 40px;
			
			}
			&:hover{
				background-color: #667950fa;
				text-decoration: none;
			}
		}
	}
	
}

.build-container{
	background-color: white;
	padding: 20px 0;
	background-image: linear-gradient(to top right, #127c744f, white);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.partner-content{
		background-color: #ecf1e6d6;
		padding: 24px 15px;
		h3{
			text-align: center;
			padding: 10px 0px;
		}
		p{
			font-size: 1rem;
			padding: 0 10px;
		}
	}
	.partner-container {
		background: white;
		color: #fff;
		padding: 24px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		.cta-buttons{
			width: 100%;
			margin: 10px 0px;
			a {
				padding: 10px;
				text-align: center;
				display: inherit;
				border-radius: 4px;
				color:white !important;
			}
		}
		@media (min-width:985px) {
		  padding: 20px 40px;
		  .partner-logo{
			height: 36px;
		  }
		  .plf-logo{
			height: 50px;
		  }
		}
		p {
		  line-height: 22px;
		  font-size: 1rem;
		  color: #222222;
		}
	  a {
		color: #969696;
		}
		.email-block {
		  background-color: #72b6de;
		  padding: 10px;
		  border-radius: 4px;
		  span {
			margin-right: 10px;
		  }
		  a {
			color: #ffffff;
			}
		}
	  }
}


.intro {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: transparent;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width:445px){
	  padding-top: 10rem;
	  
	}
	@media (min-width:445px) {
	  padding-top: 60px;
	  padding-bottom: 60px;
	  h1{
		font-size: 32px;
	}
	}
	background-color: white;
	overflow: hidden;
	background-color: linear-gradient(to left, #d5fdff 0%, #e8f5ff 100%);
	@media (min-width:619px) {
	h1{
		font-size: 52px;
	}
	  padding-top: 140px;
	  padding-bottom: 140px;
	}
	@media (min-width: 998px) {
		min-height: 240px;
		h1{
			min-height: 100px;
		}
	}
	
	.intro-content{
	  background-color: rgba(10, 24, 39, .9);
	  padding: 10px;
	  p,pre{
		color: #ffffff;
	  }
	}
	h1 {
	  color:#ffffff;
	  font-weight: bold;
	  line-height: 1.2;
	}
  
	h2 {
	  width: 80%;
	  font-size: 1.2rem;
	  line-height: 1.4;
	  margin-bottom: 30px;
	  color: white;
	}
	p {
	  font-size: 1rem;
	  font-weight: light;
	  line-height: 1.5;
	  opacity: .7;
	}
	.intro-content-block h1{
	  color: white;
	}
  }

.get-start{
	margin: 40px 0;
	text-align: center;
	border-radius: 4px;
	background-color: rgb(5, 5, 77);
	padding: 10px;
	h1{
		padding: 20px 10px;
	}
	p{
		margin: 0;
	}
	h1,p{
		color: white;
	}
	a{	
		display: inline-flex;
		height: fit-content;
		margin: 20px 0;
		border: none;
		color: white;
		font-size: 20px;
		padding: 16px 24px;
		font-weight: bold;
		border-radius: 4px;
		background-color: #0a773ae6;
		&:hover{
			background-color: white;
			color: #0a773ae6;
		}
	}
}	

  .partner-logo,.plf-logo{
	padding: 0 15px;
  }
  
  .partner-logo{
	height: 28px;
  }
  .plf-logo{
	height: 40px;
  }


  @media (max-width: 440px) {
    .partner-logo{
      height: 24px;
    }
    .plf-logo{
      height: 36px;
    }
  }