---
title: Contact
layout: default
bodyClass: page-contact
---

<div
  style="background-image: url(/{{page.intro_image}});"
  class="intro bg-white"
>
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 intro-content col-lg-6 order-2 order-md-1">
        <h1>{{ page.summary }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="build-container">
  <div class="container build-content p-3">
    <div class="row">
      <div class="col-12 col-md-6 partner-content">
        {% for section in page.partner_section %}
        <div >
            {% if section.title %}
            <h3>{{section.title}}</h3>
            {% endif %}
            <p>{{section.content}}</p>
        </div>
        {% endfor %}
    </div>
      <div class="col-12 col-md-6 partner-container">
        <div
          class="d-flex justify-content-center align-items-center partner-info"
        >
          <div class="border-right border-dark">
            <img
              src="/images/logo/confluent_logo.png"
              class="partner-logo"
              alt=""
            />
          </div>
          <div>
            <img src="/images/logo/plf-logo.svg" class="plf-logo" alt="" />
          </div>
        </div>
        <p>{{ page.description }}</p>
        {% if page.ctas %}
        <div class="cta-buttons">
          {% for cta in page.ctas %} {% if cta.onclick %}
          <button
            class="cta-buhbspottton"
            id="{{cta.btn_id}}"
            style="background-color: {{ cta.color }};"
            onclick="{{ cta.onclick }}"
          >
            {{ cta.text }}</button
          ><br />
          <!-- Custom Modal and Overlay -->
          <div id="{{cta.modal_overlay_id}}"></div>
          <div id="{{cta.modal_id}}" title="Close">
            <div class="d-flex justify-content-end">
              <button
                onclick="closeModal('{{cta.modal_id}}' ,'{{cta.modal_overlay_id}}')"
                class="dialog-close-button"
              >
                <span style="font-size: 20px" class="material-icons"
                  >close</span
                >
              </button>
            </div>
            <div class="dialog-content">
              {% include {{cta.scriptfile}}.html %}
            </div>
          </div>
          {% else %}
          <a
            href="{{ cta.url }}"
            id="{{cta.btn_id}}"
            target="_blank"
            class="cta-button"
            style="background-color: {{ cta.color }};"
          >
            {{ cta.text }} </a
          ><br />
          {% endif %} {% endfor %}
        </div>
        {% endif %}
      </div>
      <!-- begin features section-->
      <div class="content-list-item container">
        <center>
          <h1 class="section-title">{{ page.features_section_title }}</h1>
        </center>
        {% if page.features %}
        <ul class="container-context px-md-4 px-sm-1">
          {% for feature in page.features %}
          <li>
            <div
              class="d-flex justify-content-center align-items-center flex-column {{ feature.div_class | default: 'text-center platform-strategy' }}"
            >
              <h2 class="{{ feature.h2_class | default: 'text-center' }}">
                {{ feature.title }}
              </h2>
              <div class=" {{cfeature.div_class }}">
                <span
                  class="material-icons {{ feature.span_class | default: 'icon-serv py-1' }}"
                  style="font-size: 80px"
                >
                  {% if feature.icon !='' %} {{ feature.icon }} {% else %}
                  <img src="{{feature.image}}" alt="" />
                  {% endif %}
                </span>
              </div>
              <span class="feature-summary"> {{ feature.summary }} </span>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
    <!-- begin sections -->
  {% if page.sections %} {% for section in page.sections %}
  <div
    class="section {% if section.layout == 'right' %}image-right{% elsif section.layout == 'left' %}image-left{% endif %} clearfix">
    {% if section.title %}
    <center>
      <h1 class="section-title">{{ section.title }}</h1>
    </center>
    {% endif %}
    {% if section.description %}
    <p class="section-description">{{section.description}}</p>
    {% endif%}
    {% if section.segments %}
    <ul>
      {% for segment in section.segments %}
        <li>{{ segment }}</li>
      {% endfor %}
    </ul>
    
    {% endif %} {% if section.layout == 'right' or section.layout == 'left' %}
    <p class="section-text-caption">{{ section.caption }}</p>
    {% endif %}
    {% if section.video_url %}
    <iframe
      width="100%"
      class="demo-video-section"
      src="{{section.video_url}}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    {% endif %}
    {% if section.image_url %}
    <img src="{{ section.image_url }}" alt="Section Image" />
    {% endif %}
    {% if section.layout != 'right' and section.layout != 'left' %}
    <p class="section-text-caption">{{ section.caption }}</p>
    {% endif %}
  </div>
  {% endfor %} {% endif %}
</div>
    <!-- Get Start sections -->
    <div class="get-start container">
      <h1>Get Started Today</h1>
      <p>
        Unlock the power of real-time event streaming with Eventception & Confluent—seamless integration, real-time insights, no code changes needed. Start your journey towards digital excellence today!
      </p>
      <a href="/contact">Contact US</a>
    </div>
  </div>
</div>
